// General and Main
:root {
    --primaria: #{$primary};
    --secundaria: #{$secondary};
    --primaria-500: #{$primaria-500};
}

* {
    outline: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    padding-right: 0 !important;
    font-family: $font-family-sans-serif;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    // &:not(.modal-open) {
    //     overflow: scroll !important;
    // }
}

// Cards
.card {
    transition: $transition-base;
}

ul,
ol {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.lista-com-marcadores {
    list-style-type: disc;
}


// Breadcrumbs
.breadcrumbs {
    display: inline-flex;
    grid-gap: .55rem;
    color: $gray-400;
    font-size: $font-size-sm;

    @media (max-width: 1366px) {
        grid-gap: .4rem;
    }

    .texto {
        color: $gray-400;
        font-weight: $font-weight-base;
    }

    .link {
        font-weight: $font-weight-base;
        transition: $transition-base;
        color: $gray-400;

        @include hover-et-all {
            color: $gray-100;
        }
    }

    span {
        font-size: $font-size-xs;
    }
}

a:hover {
    text-decoration: none!important;
    font-weight: bold;
}

.pagina-de-erro {
    .titulo-404 {
        font-size: 15rem;
        
        @include media-breakpoint-down(md) {
            font-size: 10rem;
        }
    }
}